body {
  font-family: sans-serif;
  padding: 10% 9%;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2,
h3,
span {
  display: inline;
  color: #235188;
  text-transform: capitalize;
  font-size: 1.5rem;
}
h5 {
  color: #29c5bd;
  font-size: 1rem;
}
h6 {
  color: purple;
  text-align: center;
  font-size: 0.9rem;
}
p {
  font-size: 0.8rem;
  color: rgb(23, 103, 207);
  text-align: center;
  display: inline;
}
.Git-link {
  font-size: 15px;
  color: rgb(45, 13, 87);
  text-align: center;
}
span {
  font-size: 1.5rem;
}
.city {
  color: #ca83f3;
  font-family: "Otomanopee One", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
}
.description {
  color: rgb(86, 137, 202);
}
.humidity-span,
.wind-span,
.precipitation-span {
  font-size: 15px;
}
.container {
  display: block;
  margin: 0 auto;
  padding: 5% 4%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(214, 255, 230) 0%,
    rgb(232, 252, 209) 90%
  );
  border-radius: 8px;
}
.row {
  margin: 1em 3%;
}
.col {
  text-align: center;
}
.card-deck {
  margin: 1em auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 1rem auto;
  min-width: 77px;
  width: auto;
  max-width: 100px;
}

.form-group {
  display: block;
  margin: 5px auto;
}
.btn {
  float: right;
  margin: 0.2em;
}

.weather {
  font-size: 100px;
  color: #8971d0;
  text-align: center;
}

#icon {
  width: 120px;
  height: 120px;
  background-color: #6745bcc5;
  border-radius: 50%;
}
#icon:hover {
  background-color: #8260d6cb;
  width: 130px;
  height: 130px;
}
#forecastIcon {
  width: 65px;
  height: 65px;
  background-color: #57dac4d0;
  border-radius: 50%;
  margin: 0 auto;
}
.units .active {
  color: #235188;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
